.container {
    max-width: 400px;
    margin: auto;
    border: solid rgb(212, 205, 205) 1px;
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 10px;
    box-shadow: 0 0 2px rgb(207, 203, 203);
  }

  .heading {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    font-style: oblique;
    color: tomato;
  }

  .selected {
    color: red;
    height: 100%;
    width: 50%;
    border: none;
  }

  .tabBtns {
    height: 40px;
    width: 100%;
  }

  .btn {
    height: 100%;
    width: 50%;
    border: none;
  }
  .true {
    color: tomato;
  }