.container {
    max-width: 400px;
    margin: auto;
    border: solid rgb(212, 205, 205) 1px;
    border-radius: 4px;
    margin-top: 40px;
    padding: 10px;
    box-shadow: 0 0 2px rgb(207, 203, 203);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    color: tomato;
    font-weight: bold;
    font-size: 1.5rem;
}
