.container {
  max-width: 400px;
  margin: auto;
  border: solid rgb(212, 205, 205) 1px;
  border-radius: 4px;
  margin-top: 40px;
  padding: 10px;
  box-shadow: 0 0 2px rgb(207, 203, 203);
  height: 350px;
}

.tomatoText {
  color: tomato;
  font-size: 1.2rem;
  margin: 20px 0;
}

.header {
  font-style: oblique;
}

.text {
  margin: 10px 0;
}

.input {
  min-width: 200px;
  height: 30px;
}

.bth {
  color: white;
  background-color: tomato;
  height: 30px;
  border: none;
  margin: 0;
  padding: 0 5px;
}